<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' >

    <root>
        <priority value ="INFO"/>
        <appender-ref ref="rootAppender"/>
    </root>

    <logger name="error" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="errorAppender"/>
    </logger>

    <logger name="warn" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="warnAppender"/>
    </logger>

    <logger name="service" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="serviceAppender"/>
    </logger>

    <logger name="controller" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="controllerAppender"/>
    </logger>

    <appender name="rootAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="file" value="classpath:logs/root.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p:%d{yy-MM-dd HH:mm:ss.SSS}[%C{1}#%M]--%L %m %n"/>
        </layout>
    </appender>

    <appender name="errorAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="file" value="classpath:logs/mobile/riskmanage/error.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p:%d{yy-MM-dd HH:mm:ss.SSS}[%C{1}#%M]--%L %m %n"/>
        </layout>
    </appender>

    <appender name="warnAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="file" value="classpath:logs/mobile/riskmanage/warn.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p:%d{yy-MM-dd HH:mm:ss.SSS}[%C{1}#%M]--%L %m %n"/>
        </layout>
    </appender>

    <appender name="serviceAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="file" value="classpath:logs/mobile/riskmanage/service.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p:%d{yy-MM-dd HH:mm:ss.SSS}[%C{1}#%M]--%L %m %n"/>
        </layout>
    </appender>

    <appender name="controllerAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8"/>
        <param name="file" value="classpath:logs/mobile/riskmanage/controller.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%5p:%d{yy-MM-dd HH:mm:ss.SSS}[%C{1}#%M]--%L %m %n"/>
        </layout>
    </appender>

</log4j:configuration>
